.menu-item {
  height: 3rem;
  display: flex;
  /* justify-content: center;  */
  align-items: center;
  cursor: pointer;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.menu-item:hover {
  background-color: rgb(216, 216, 216);
}

/* UserDrawer Styles */
.drawer {
  width: 17rem;
  height: 100%;
  background-color: #f3f4f6; /* Light gray background */
  position: fixed;
  transform: translateX(-100%); /* Start off-screen to the left */
  transition: transform 0.2s ease-in-out; /* Smooth transition */
  z-index: 10;
}

.drawer.open {
  transform: translateX(0); /* Slide into view */
}
.p {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Loader Wrapper - Full-Screen Overlay */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  backdrop-filter: blur(5px); /* Blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Spinning Loader */
.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  animation: rotation 1s linear infinite;
  position: relative;
}

.loader::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left: 4px solid #266fef;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-pic {
  width: 8rem; /* 128px */
  height: 8rem; /* 128px */
  border-radius: 50%; /* Makes it a perfect circle */
  object-fit: cover; /* Ensures the image fills the container without distortion */
}

.label {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(61, 56, 56);
  font-weight: 400;
}
.value {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-weight: 400;
}
